name: CI (MAMEUI)

on: [push, pull_request]

jobs:

  build-windows-gcc:
    runs-on: windows-latest
    concurrency:
      group: ci-${{ github.ref }}
      cancel-in-progress: true
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - uses: msys2/setup-msys2@v2
      with:
        install: git make mingw-w64-x86_64-gcc mingw-w64-x86_64-python mingw-w64-x86_64-lld mingw-w64-x86_64-libc++
    - uses: actions/checkout@master
    - name: Build
      env:
        MINGW64: "/mingw64"
        OSD: "messui"
        PTR64: "1"
        CC:   gcc-10
        CXX:  g++-10
      run: make -j2 PTR64=1 OSD=messui DEPRECATED=0 SYMBOLS=0 NO_SYMBOLS=1
    - name: Validate
      run: ./mameui -validate
    - uses: actions/upload-artifact@master
      with:
        name: mameui-windows-gcc-${{ github.sha }}
        path: mameui.exe
